@model List<ReserveWash.ViewModels.Product.CarWashViewModel>

@{
    ViewData["Title"] = "صفحه اصلی";
}
<style>
    #loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .d-none {
        display: none !important;
    }

    .loading-spinner {
        width: 5rem;
        height: 5rem;
    }
</style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-lg-3 carwash-countainer">
            <div class="rotating-card-container">
                <div class="card card-rotate card-background card-background-mask-primary shadow-dark mt-md-0 mt-5">
                    <div class="front front-background" style="background-image: url(@item.MainImagePath); background-size: cover;">
                        <div class="card-body py-7 text-center">
                            <i class="material-symbols-rounded text-white text-4xl my-3">touch_app</i>
                            <h3 class="text-white">کارواش <br />@item.Name</h3>
                            <p class="text-white opacity-8">@item.Address</p>
                        </div>
                    </div>
                    <div class="back back-background" style="background-image: url(@item.SubImagePath); background-size: cover;">
                        <div class="card-body pt-7 text-center">
                            <h3 class="text-white">درباره کارواش</h3>
                            <p class="text-white opacity-8">@item.Description</p>
                            <button id="reserve-carwash" class="btn bg-gradient-success btn-sm w-50 mx-auto mt-3" onclick="Reserve(@item.Id)">رزرو</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
<div id="loading" class="d-none">
    <div class="spinner-grow text-success loading-spinner" role="status">
            <span class="sr-only"></span>
    </div>
</div>


<!-- مدال بوت استرپ -->
<div class="modal" id="reservationModal" tabindex="1" style="z-index:2000;" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModalLabel">فرم رزرو</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="customerName">انتخاب خودرو</label>
             <select name="carsList" id="carsList" class="form-control" asp-items="@(new SelectList(ViewBag.Cars, "Value", "Text"))"></select>
            <span id="carsListValidation" style="display:none;"><a href="Car/Create" class="text-danger">انتخاب خودرو اجباری میباشد جهت ثبت خودروی جدید کلیک کنید</a></span>
                      </div>
          <div class="form-group" id="reserve-list-body">
            <h5>در حال حاضر زمانی برای رزرو این کارواش ثبت نشده است!</h5>
          </div>
          <!-- سایر فیلدهای مورد نیاز -->
          <button id="reservationForm" class="btn btn-primary" >ثبت رزرو</button>
      </div>
    </div>
  </div>
</div>

<script>
$('.close').on('click', function(){
    $('#reservationModal').toggle();
});

$(document).on('click', '.reserve-time-btn', function() {
    Window.ReserveTimeId = $(this).val();
    $(this).hide('fast');
    $('#reservationForm').show('fast');
});

function Reserve(contentId){
    $('#loading').removeClass('d-none');
    $('#reservationForm').hide();
    $.ajax({
        url: '/Reservation/GetAllByCarWashId', // آدرس برای ذخیره داده
        method: 'post',
        data: {
            carwashId: contentId, // شناسه کارواش
        },
        success: function(response) {
            $('#reserve-list-body').html(response);
        },
        error: function() {
            alert('خطا در دریافت اطلاعات لطفا دوباره تلاش کنید.');
        },
        complete: function() {
            $('#loading').addClass('d-none');
            $('#reservationModal').toggle();
        }
    });
}

$('#reservationForm').on('click', function(event) {
    // نمایش لودینگ
    $('#loading').removeClass('d-none');

    // دریافت مقادیر فرم
    var carsList = $('#carsList option:selected').val();
    var getedReserveTimeid = Window.ReserveTimeId;
    if(!carsList){
        $('#carsListValidation').show();
    }
    else
    {
        // ارسال داده‌ها به سرور با استفاده از ajax
        $.ajax({
            url: '/Reservation/InsertReservation', // آدرس api برای ذخیره داده
            method: 'post',
            contentType: 'application/x-www-form-urlencoded', // نوع محتوا
            data: {
                carId: carsList,              // شناسه خودرو
                reserveTimeId: getedReserveTimeid,     // تاریخ رزرو
            },
            success: function(response) {
                alert('رزرو با موفقیت ثبت شد!');
                $('#reservationModal').toggle();// بستن مدال
                // می‌توانید اینجا لیست کارواش‌ها را به‌روز کنید
            },
            error: function() {
                alert('خطا در ثبت لطفا دوباره تلاش کنید.');
            },
            complete: function() {
                // پنهان کردن لودینگ
                $('#loading').addClass('d-none');
            }
        });
    }
});
</script>
