@model IEnumerable<ReserveWash.ViewModels.Product.CarViewModel>

@{
    ViewData["Title"] = "لیست کارواش‌ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1>لیست خودرو ‌ها</h1>

    <p>
        <a class="btn bg-gradient-success" asp-action="Create">ایجاد خودروی جدید</a>
    </p>
    
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pelak)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pelak)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
