@model IEnumerable<ReserveWash.ViewModels.Product.ReserveTimeViewModel>

@{
    ViewData["Title"] = "لیست رزرو ‌ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Url.ActionContext.RouteData.Values["id"];
}

<div class="container mt-4">
    <h1>لیست رزرو ‌ها - کارواش @(Model.FirstOrDefault().CarwashName ?? "")</h1>

    <p>
        <a class="btn bg-gradient-success" asp-action="Create" asp-route-id="@id">ایجاد نوبت جدید</a>
    </p>
    
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDateFa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDateFa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
