@model IEnumerable<ReserveWash.ViewModels.Product.ReservationViewModel>

@{
    ViewData["Title"] = "لیست رزرو ‌ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1>لیست رزرو ‌ها</h1>

   
    
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarwashName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReserveDateFa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarPelak)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="~/CarWash/Details/@item.CarwashId">@Html.DisplayFor(modelItem => item.CarwashName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReserveDateFa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarPelak)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
